{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}

<div class="header-bar">
    <h1>Register</h1>
</div>

<div class="card-body">
    
    <form action="" method="POST">
        {% csrf_token %}
        <!-- {{form.as_p}} -->

        <label for="">{{form.username.label}}:</label>
        {{form.username}}

        <br><br>

        <label for="">{{form.password1.label}}:</label>
        {{form.password1}}

        <br><br>

        <label for="">{{form.password2.label}}:</label>
        {{form.password2}}
        <br><br>

        <input type="submit" value="Register" class="main-button">
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">
        <mark>Login</mark>
    </a></p>

</div>

{% endblock %}

